<h1> *ngFor </h1>
<div>
  <div *ngFor= "let product of products">
    <img width="250" [src]="product.image" alt="image">
    <h2>{{ product.price }} </h2>
    <p> {{ product.name }}  </p>
  </div>
</div>

<hr/>
<h1> ngFor </h1>
<input type="text" required [(ngModel)]="newName" />
<button (click)="addName()"> Add name </button>
<ul>
  <li *ngIf=" names.length === 0"> No hay nombres </li>
    <li *ngFor="let name of names; index as i">
      {{i}}  {{ name }}
      <button (click)="deleteName(i)" > Delete </button>
    </li>
</ul>
<hr/>
<h1> ngIf </h1>
<input type="text" required [(ngModel)]="person.name" />
<p *ngIf="person.name  == 'antonn' " > Soy antonn</p>
<p *ngIf="person.name ==  'luis' && person.age === 18; else elseBlock" > Soy luis</p>
<ng-template #elseBlock>
    <p>Bloque de else </p>
</ng-template>
<hr/>
<h1> NgModel </h1>
<p> Nombre {{ person.name }} </p>
<input type="text" required #nameInput="ngModel" [(ngModel)]="person.name"  />
<p> Valid: {{nameInput.valid}} </p>
<p> Age {{ person.age }} </p>
<hr/>
<h1>Eventos </h1>
<button [disabled]="btnDisabled">Enviar </button>
<button (click)= "toggleButton()"> Toggle Button </button>
<p> Edad {{ person.age }} </p>
<button (click)= "increaseAge()"> Age ++ </button>
<div class="box" (scroll)="onScroll($event)">
  <p> lorem ipsum smsmsomasomaso </p>
</div>
<p> Nombre {{ person.name }} </p>
<input type="text" [value]="person.name" (keyup)="changeName($event)" />

<hr/>
<h1>Propiedes Binding </h1>
<button [disabled]="btnDisabled">Enviar </button>
<input type="text" [value]="person.name" />
<progress max="100" [value]="person.age"></progress>

<hr/>
<h1> Hola Mundo </h1>
<h2> {{ 'Hola Mundo'.repeat(5)   }}  </h2>
<p> 3 + 3 =  {{ 3+3 }} </p>
<h3> Hola, soy {{ name }} y tengo {{ age }}</h3>
